h2 {margin-left: 30px;}
.header-divider {margin-bottom: -60px;}

.members {
  margin-left: 30px;
  margin-right: auto;
  margin-bottom: 50px;
}

.profile-wrap {
  width: 25%;
  float: left;
}
/* 19 and 30*/
.profile {
  background-color: #1a212c;
  width: 190px;
  height: 300px;
  border: solid #07080b 5px;
  margin: 20px 0px 20px 0px;
}

.profile .profile-pic {
  width: 100%;
  height: auto;
  display: block;
}

.profile h3 {
  color: white;
  font-weight: 800;
  font-size: 150%;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  display: block;
  position: absolute;
  z-index: 2;
  margin-left: 10px;
  margin-top: -8px;
  text-shadow: 0px 0px 15px black;
}
/*26 and 16 w/ 5.3 on top px*/
.profile .dragon {
  position: absolute;
  margin-top: -53px;
  width: 260px;
  height: 160px;
}

.profile p {
  color: rgba(255, 255, 255, 0.6);
  margin: 0;
  position: absolute;
  margin-top: 20px;
  margin-left: 18px;
  letter-spacing: 1px;
}

@media (max-width: 1100px) {
  .profile {
    width: 171px;
    height: 270px;
  }
  .profile .dragon {
    width: 234px;
    height: 144px;
    margin-top: -47.7px;
  }
}
@media (max-width: 1000px) {
  .profile {
    width: 152px;
    height: 240px;
  }
  .profile .dragon {
    width: 208px;
    height: 128px;
    margin-top: -42.4px;
  }
}
@media (max-width: 900px) {
  .profile {
    width: 133px;
    height: 210px;
  }
  .profile .dragon {
    width: 182px;
    height: 112px;
    margin-top: -37.1px;
  }
}
@media (max-width: 800px) {
.profile-wrap {
  width: 33%;
}
  .profile {
    width: 171px;
    height: 270px;
  }

  .profile .dragon {
    width: 234px;
    height: 144px;
    margin-top: -47.7px;
  }
}
@media (max-width: 765px) {
  .profile {
    width: 152px;
    height: 240px;
  }
  .profile .dragon {
    width: 208px;
    height: 128px;
    margin-top: -42.4px;
  }
}
@media (max-width: 690px) {
  h2{margin-left: 0;}
  .header-divider{text-align:center;}
  .members {
    margin-left: auto;
  }
  .profile-wrap {
    width: 50%;
  }
  .profile {
    width: 190px;
    height: 300px;
    margin: 20px 0px 20px 60px;
  }
  .profile .dragon {
    width: 260px;
    height: 160px;
    margin-top: -53px;
  }
}
@media(max-width: 640px){.profile{margin-left:50px;}}
@media(max-width: 620px){.profile{margin-left:40px;}}
@media(max-width: 600px){.profile{margin-left:30px;}}
@media (max-width: 575px) {
  .profile {
    width: 171px;
    height: 270px;
    margin-left: 40px;
  }
  .profile .dragon {
    width: 234px;
    height: 144px;
    margin-top: -47.7px;
  }
}
@media(max-width: 550px){.profile{margin-left:25px;}}
@media (max-width: 515px) {
  .profile {
    width: 152px;
    height: 240px;
  }
  .profile .dragon {
    width: 208px;
    height: 128px;
    margin-top: -42.4px;
  }
}
@media (max-width: 478px) {
  .profile {
    width: 133px;
    height: 210px;
    margin-left: 30px;
  }
  .profile .dragon {
    width: 192px;
    height: 112px;
    margin-top: -37.1px;
  }
}
@media(max-width: 455px){.profile{margin-left:25px;}}
@media (max-width: 440px) {
  .profile {
    width: 114px;
    height: 180px;
    margin-left: 35px;
    margin-bottom: 5px;
  }
  .profile .dragon {
    width: 166px;
    height: 96px;
    margin-top: -31.8px;
  }
}
@media(max-width: 414px){.profile{margin-left:30px;}}
@media(max-width: 400px){.profile{margin-left:25px;}}
@media(max-width: 400px){.profile{margin-left:20px;}}
@media (max-width: 383px) {
  .members {
    margin-left: auto;
  }
  .profile-wrap {
    width: 100%;
  }
    .profile {
      width: 209px;
      height: 330px;
      margin: 20px 0px 20px 60px;
    }
    .profile .dragon {
      width: 286px;
      height: 176px;
      margin-top: -58.3px;
    }
}
@media(max-width: 364px){.profile{margin-left:50px;}}
@media(max-width: 350px){.profile{margin-left:40px;}}
@media(max-width: 330px){.profile{margin-left:30px;}}
